<?xml version="1.0" encoding="UTF-8"?>
<!--
 For deployment to Maven Central via Sonatype require a settings.xml. file in your
 $HOME/.m2 folder modified to have sontatype username and password
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<proxies>
	</proxies>
	<servers>
		<server>
			<id>ossrh</id>
			<username>Fill in Username</username>
			<password>Fill in password</password>
		</server>
	</servers>
	<mirrors>
	</mirrors>
	<profiles>
    <profile>
      <id>ossrh</id>
      <activation>
      	<activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>C:/Program Files (x86)/GnuPG/bin/gpg</gpg.executable>
        <gpg.passphrase>Fill in GPG PassPhrase</gpg.passphrase>
      </properties>
    </profile>
	</profiles>
</settings>